* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F09A9D;
  margin: 0;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "nav" "main" "aside" "footer";
}

body header,
body nav,
body main,
body aside,
body footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

body main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

body aside {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: aside;
}

body footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  main {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  footer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/6;
  }
  aside {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/6;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E;
    /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF;
    /* Blue */
  }
}
/*# sourceMappingURL=style.css.map */