:root {
  --default-font: 'Playfair Display';
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  
}

html {
  box-sizing: border-box;

  body {
    
    font-family: var(--default-font);
    overscroll-behavior-y: none;
  } 
  

}

  

