.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
  font-family: sans-serif;
  color: white;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  :hover, :focus-within{
    transform: scale(1.05);
  }

  .card-content{
    padding: 1.5rem;
    background: linear-gradient(black, rgba(0,0,0,0.5));
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  :hover, .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card-content__title{
    text-decoration: underline;
    text-decoration-color: lightgray;
  }

  .card-content__body{
    color: rgba(255,255,255,0.8);
  }

  .button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;

    :hover, :focus{
      background-color: white;
      color: black;
    }
  }
}
