@import 'fuentes';
* {
  box-sizing: border-box ;
}

body{
  margin: 0;
  padding: 0.5rem;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  min-height: 100vh;
  grid-template-columns: 15% auto 25%;
  grid-template-areas: 
  "nav header header"
  "nav main aside"
  "nav main aside"
  "nav main aside"
  "footer footer footer";

  header,
  nav,
  main,
  aside,
  footer{
    padding: 1rem;
  }
  
  header{
    grid-area: header;

    h1{
      font-family: 'Dancing Script', cursive;
      font-size: 60px;
      text-align: center;
      position: absolute;
      letter-spacing: 10px;
    }
  }
  nav{
    grid-area: nav;
  }
  main{
    grid-area: main;
  }
  aside{
    grid-area: aside;
  }
  footer{
    grid-area: footer;

    .social-bar{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    
      .bi{
        list-style: none;
        width: 50px;
        height: 50px;
        margin: 0 15px;
        transition: all 0.5s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    

  }

}



//  @media (min-width: 768px) {
//    body{
//      grid-template-rows: auto 1fr auto;
//      grid-template-columns: 12rem 1fr;
//      background-color: lawngreen;
//      grid-area: 
//      " header header"
//      "nav main"
//      "footer footer";
//    }
//  }

// @media only screen and(min-width: 961px) {
//   body{
//     grid-template-columns: repeat(3, 1fr);
//     background-color: teal;
//   }
//   header{
//     grid-column: 1/ span 4;
//     grid-row: 1/2;
//   }
//   nav{
//     grid-column: 1/ span 1 ;
//     grid-row: 2/3;
//   }
//   main{
//     grid-column: 1/3;
//     grid-row: 3/6;
//   }
//   aside{
//     grid-column: 3/4;
//     grid-row: 3/6;
//   }
//   footer{
//     grid-column: 1/4;
//     grid-row: 6/7;
//   }
// }

// /* Mobile Styles */
// @media only screen and (max-width: 400px) {
//   body {

//     background-color: #F09A9D; 
//   }
// }







