@import 'fuentes';
@import 'productos';
@import 'contacto';
@import 'base';
@import 'custom';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body{
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header header"
  "nav main main aside"
  "nav main main aside"
  "footer footer footer footer";

  header,
  nav,
  main,
  aside,
  footer{
    padding: 1rem;
  }
  
  header{
    grid-area: header;

    h1{
      font-family: 'Dancing Script', cursive; 
      font-size: 60px;
      text-align: center;
      letter-spacing: 10px;
    }
  }
  nav{
    grid-area: nav;
    margin: 1%;
    align-items: center;
    font-family: 'Playfair Display';
    list-style: none;

    a{
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      font-size: 20px;
    
    }
    a:hover{
      background-color: rgb(203, 236, 241);
      color: white;
    }
  }
  
  main{
    grid-area: main;
    margin-left: 0px;
    padding: 0px 0px;
  }
  aside{
    grid-area: aside;
  }
  footer{
    grid-area: footer;

    .social-bar{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .bi{
        list-style: none;
        width: 35px;
        height: 35px;
        margin: 0 5px;
        transition: all 0.5s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
      }
    }

    

  }

}

@media only screen and (max-width: 700px) {
  body{
    padding: 0.75rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  }
  
}







